<div class="bg-gray-100 flex items-center justify-center lg:h-screen py-16">
<form action="/sessions/create" method="post">
  PASSWORD:
  <input type="text" name="password" value="" placeholder="press enter" />
  {% render 'authtoken' %}
</form>
</div>
