<div class="bg-white/20 p-6 rounded-md shadow-sm cursor-pointer border-2 border-gray-50 hover:border-black hover:border-2 transition-colors duration-300">
  <div class="item">
    <div class="block font-sans text-2xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
      <
      create a new item
      >
    </div>
    {% render 'items/form', categories: categories %}
  </div>
</div>
